
@import 'colors';
@import 'padding';


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  @extend .bg-pink-5;
}

.nav-links {
  display: flex;
  gap: 1rem;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem; 
}

.card {
  @extend .bg-pink-8;
  @extend .p-1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-body {
    margin-top: 0.5rem;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  img {
    max-width: 100%;
    height: auto;
  }
}